<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title></title>

        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <link rel="stylesheet" type="text/css" href="./css/manage.css">
        <!-- Favicon -->     
        <link rel="icon" type="image/png" sizes="32x32" href="./img/icon/favicon-32x32.png">
        <!-- Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Materialize Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Material Dialog -->
        <script src="./libraries/material-dialog/material-dialog.js" type="text/javascript"></script>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    </head>

    <body class="">

        <section class="content">
            <section class="users-waiting query-list">
                <h1 class="users-waiting query-list" id="query-title"> Gerenciar undefined </h1>
                <ul class="users-waiting" id="query">   
                    <!-- Query Results -->
                </ul>
                <div id="user-queue-menu">
                    <div class="dont-close-pls" onclick="contextMenu.update()"> Editar  </div>
                    <div class="dont-close-pls" onclick="contextMenu.delete()"> Deletar </div>
                </div>
                <div class="search row">
                    <div class="input-field col s2"> 
                        <select id="search-type">
                            <!-- Opções -->
                        </select> 
                        <label> Campo de Busca </label>
                    </div>
                    <div class="input-field col s6"> 
                        <input type="text" id="search-string"> 
                        <label> Escreva o que deseja buscar </label>
                    </div>
                    <div class="input-field col s2">
                        <select id="search-order">
                            <!-- Opções -->
                        </select>
                        <label> Ordenar por </label>
                    </div>
                    <div class="input-field col s2">
                        <button class="btn waves-effect waves-light peach col s12"onclick="searchTrigger()"> Buscar </button>
                    </div>
                </div>
            </section>
        </section>

        <script>
            if (typeof module === 'object') {window.module = module; module = undefined;}
        </script>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>   
        <!-- Socket.io -->     
        <script src="./libraries/socket.io/socket.io.js"></script>
        <!-- Materialize Js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Materialize Initialize -->
        <script>    
            $(document).ready(function(){
                $('select').formSelect();
                M.updateTextFields();
            });
        </script>
        <script src="./js/UserQueueMenu.js">    </script>
        <script src="./js/Admin.js">            </script>
        <script src="./js/require.js">          </script>
        <script src="./js/ManagerWindow.js">    </script>
        <script> 
            const contextMenu = new UserQueueMenu( 'user-queue-menu', [ 'query-item' ] );
            let managerWindow;
            $(document).ready( ( ) => {
                admin.fetch    ( );
                admin.get_token( );
                ipcRenderer.once( 'windowArguments', ( event, args ) => {
                    managerWindow = new ManagerWindow( args );
                } );
            } )
            function searchTrigger ( ) {
                const key   = $('#search-type').val();
                const value = document.getElementById('search-string').value;
                const order = $('#search-order').val();
                const query = {
                    key:    ( value != undefined && value.trim() != '' ) ? key   : undefined,
                    value:  ( value != undefined && value.trim() != '' ) ? value : undefined,
                    order:  ( order != 'none' )                          ? order : undefined
                };
                managerWindow.constructDefault();
                managerWindow.requestQuery( managerWindow.type, managerWindow.route, query );
            }
        </script>

        <script>if (window.module) module = window.module;</script>
    </body>
</html>